streamlit
chromadb
python-dotenv
pandas
tiktoken
langchain-community
langchain-text-splitters
transformers
sentencepiece
sentence-transformers
torch
torchvision
scikit-learn
matplotlib
seaborn
numpy
pypdf
pdfplumber
accelerate
openai
